$color1: rgb(221, 221, 221);
$hover: rgb(255, 255, 255);
$texto: white;
$verdeClaro: #BAD19E;
$verdeOscuro: #30734C;
$rosa: #F29792;
$marron: #54552f;
$contraste: #13262F;
$def: #D3D3D3;
$def2: #A7A7A7;
