/* @import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap"); */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
  font-family: 'Montserrat', sans-serif;
}


nav {
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 0.1rem;
  margin: 0.5rem 0 0 0;
  text-transform: uppercase;
  font-size: 1.25rem;
  background-color: #BAD19E;
}

.bg-footer {
  background-color: #F29792;
}

.colorH2 {
  color: #30734C;
  text-align: center;
  padding: 1rem;
}

.logo {
  width: 6rem;
  margin-left: 4rem;
}

.navbar-nav .nav-link {
  text-decoration: none;
  color: #54552f;
}

.navbar-nav .nav-link:hover {
  text-decoration: none;
  color: #F29792;
}

.borde {
  border: 1px solid black;
}

/* .navbar-nav{
  gap: 2rem;
  margin-left: 16rem;
} */

.imgProduct {
  width: 10rem;
}

.user-container {
  padding: 1rem;
  margin-left: 18rem;
  /* gap: 2rem; */
  display: flex;
  align-items: center;
}

.user-icon {
  transition: all ease 0.1s;
}

.user-icon:active {
  transform: translateY(5px) scale(1.1);
}

.btn-login {
  background-color: #BAD19E;
  color: #54552f;
  border-radius: .5rem;
  border: 1px solid #54552f;
  padding: .2rem 1.2rem;
  font-size: 1.2rem;
  display: block;
  margin: 2rem auto 0 auto;
  /* min-width: 100px; */
  text-align: center;
}

.login-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-login {
  width: 100%;
  max-width: 400px;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 2px 16px #54552f;
  background: #fafafa;
}

.spinner {
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 56px;
  height: 56px;
  border: 11.2px #54552f double;
  border-left-style: solid;
  border-radius: 50%;
  animation: spinner-aib1d7 0.75s infinite linear;
}

@keyframes spinner-aib1d7 {
  to {
    transform: rotate(360deg);
  }
}



/* nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
} */

/* nav {
  display: inline-block;
  margin: 0;
  padding: 0.5em;
  font: 700 1.1rem "Nunito", sans-serif;
} */

.products-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media (max-width: 768px) {
  .products-section {
    padding: 0 0.5rem;
  }
}